.headline-font(@size)
{
  font-size: @size;
  font-family: @headline-font;
  font-weight: 700;
}

.body-font(@size)
{
  font-size: @size;
}

.transition(@duration:0s,@ease:linear,@prop:all,@delay:0s){

  -webkit-transition-duration: @duration;
  -moz-transition-duration: @duration;
  -o-transition-duration: @duration;
  -ms-transition-duration: @duration;
  transition-duration: @duration;

  -webkit-transition-delay: @delay;
  -moz-transition-delay: @delay;
  -o-transition-delay: @delay;
  -ms-transition-delay: @delay;
  transition-delay: @delay;

  -webkit-transition-timing-function: @ease;
  -moz-transition-timing-function: @ease;
  -o-transition-timing-function: @ease;
  -ms-transition-timing-function: @ease;
  transition-transition-timing-function: @ease;

  -webkit-transition-property: @prop;
  -moz-transition-property: @prop;
  -ms-transition-property: @prop;
  transition-property: @prop;
}

.transform(@transform){
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
  .hideBackface;
}

.transform-origin(@transformOrigin){
  -webkit-transform-origin:@transformOrigin;
  -moz-transform-origin:@transformOrigin;
  -ms-transform-origin:@transformOrigin;
  -o-transform-origin: @transformOrigin;
  transform-origin: @transformOrigin;
}

.hideBackface{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rounded(@radius){
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.box-sizing{
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.centerY{
  top: 50%;
  .transform(translateY(-50%));
}

.centerX{
  left: 50%;
  .transform(translateX(-50%));
}

.centerXY{
  left: 50%;
  top: 50%;
  .transform(translate3d(-50%, -50%, 0));
}

.fadeout(@time,@delay:0s){
  -webkit-animation: fadeout @time linear @delay forwards;
  animation: fadeout @time linear @delay forwards;
}

.fadein(@time,@delay:0s){
  -webkit-animation: fadein @time ease-out @delay forwards;
  animation: fadein @time ease-out @delay forwards;
}

.clearAnimation{
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.revealLetter(@time,@delay:0s){
  -webkit-animation: revealLetterBlur @time @easeOutBack @delay forwards;
  -moz-animation: revealLetterBlur @time @easeOutBack @delay forwards;
  animation: revealLetterBlur @time @easeOutBack @delay forwards;
  @media (max-width: 800px){
    -webkit-animation: revealLetter @time @easeOutBack @delay forwards;
    -moz-animation: revealLetter @time @easeOutBack @delay forwards;
    animation: revealLetter @time @easeOutBack @delay forwards;
  }
}

.blink {
  -webkit-animation: blink 3s infinite;
  -moz-animation: blink 3s infinite;
  animation: blink 3s infinite;
}

.draw-path {
  -webkit-animation: drawPath 1s infinite;
  -moz-animation: drawPath 1s infinite;
  animation: drawPath 1s infinite;
}

.bounce {
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

.bounce {
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

.rightLoop {
  -webkit-animation: rightLoop .7s linear infinite;
  -moz-animation: rightLoop .7s linear infinite;
  animation: rightLoop .7s linear infinite;
}

.logoReveal {
  @media (max-width: 960px) {
    animation: revealLogoMobile 4s forwards;
  }
  @media (min-width: 960px) {
    animation: revealLogo 4s forwards;
  }
}
.navReveal {
  animation: revealMenu 2s forwards 2s;
}


@-webkit-keyframes revealLogo {
  from {
    bottom: calc(100vh - 26rem);
  }
  to   {
    bottom: 4rem;
  }
}

@-moz-keyframes revealLogo {
    from {
      bottom: calc(100vh - 26rem);
    }
    to   {
      bottom: 4rem;
    }
}

@keyframes revealLogo {
    from {
      bottom: calc(100vh - 26rem);
    }
    to   {
      bottom: 4rem;
    }
}


@-webkit-keyframes revealLogoMobile {
  from {
    bottom: 60vh;
  }
  to   {
    bottom: 2rem;
  }
}

@-moz-keyframes revealLogoMobile {
    from {
      bottom: 60vh;
    }
    to   {
      bottom: 2rem;
    }
}

@keyframes revealLogoMobile {
    from {
      bottom: 60vh;
    }
    to   {
      bottom: 2rem;
    }
}


@-webkit-keyframes revealMenu {
  from {
    opacity: 0
  }
  to   {
    opacity: 1;
  }
}

@-moz-keyframes revealMenu {
    from {
      opacity: 0
    }
    to   {
      opacity: 1;
    }
}

@keyframes revealMenu {
    from {
      opacity: 0
    }
    to   {
      opacity: 1;
    }
}


@-webkit-keyframes bounce {
  0% {
    .transform(translate3d(0,0,0));
  }
  50%   {
    .transform(translate3d(0,5px,0));
  }
  100% {
    .transform(translate3d(0,0,0));
  }
}

@-moz-keyframes bounce {
    0% {
      .transform(translate3d(0,0,0));
    }
    50%   {
      .transform(translate3d(0,5px,0));
    }
    100% {
      .transform(translate3d(0,0,0));
    }
}

@keyframes bounce {
    0% {
      .transform(translate3d(0,0,0));
    }
    50%   {
      .transform(translate3d(0,5px,0));
    }
    100% {
      .transform(translate3d(0,0,0));
    }
}

@-webkit-keyframes rightLoop {
  0% {
    .transform(perspective(300px) rotateY(0deg));
    transform-origin: 50% 50% 38px;
  }
  50%   {
    .transform(perspective(300px) rotateY(-80deg));
    transform-origin: 50% 50% 38px;
  }
  51%   {
    .transform(perspective(300px) rotateY(80deg));
    transform-origin: 50% 50% 38px;
  }
  100% {
    .transform(perspective(300px) rotateY(0deg));
    transform-origin: 50% 50% 38px;
  }
}

@-moz-keyframes rightLoop {
  0% {
    .transform(perspective(300px) rotateY(0deg));
    transform-origin: 50% 50% 38px;
  }
  50%   {
    .transform(perspective(300px) rotateY(-80deg));
    transform-origin: 50% 50% 38px;
  }
  51%   {
    .transform(perspective(300px) rotateY(80deg));
    transform-origin: 50% 50% 38px;
  }
  100% {
    .transform(perspective(300px) rotateY(0deg));
    transform-origin: 50% 50% 38px;
  }
}

@keyframes rightLoop {
  0% {
    .transform(perspective(300px) rotateY(0deg));
    transform-origin: 50% 50% 38px;
  }
  50%   {
    .transform(perspective(300px) rotateY(-80deg));
    transform-origin: 50% 50% 38px;
  }
  51%   {
    .transform(perspective(300px) rotateY(80deg));
    transform-origin: 50% 50% 38px;
  }
  100% {
    .transform(perspective(300px) rotateY(0deg));
    transform-origin: 50% 50% 38px;
  }
}


@-webkit-keyframes blink {
  0% {
    opacity: .2;
  }
  12%   {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
}

@-moz-keyframes blink {
    0% {
      opacity: .2;
    }
    12%   {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: .2;
    }
    100% {
      opacity: .2;
    }
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    12%   {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: .2;
    }
    100% {
      opacity: .2;
    }
}
