// * {
//   outline: 1px solid rgba(15,204,204,.2);
// }


.l-phi1 {
  left: 61.80339vw;
}
.l-phi2 {
  left: ~"calc(61.80339vw * .6180339)";
}
.l-phi3 {
  left: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.l-phi4 {
  left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.l-phi5 {
  left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.l-phi6 {
  left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.l-phi7 {
  left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.l-phi8 {
  left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.l-phi9 {
  left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.r-phi1 {
  right: 61.80339vw;
}
.r-phi2 {
  right: ~"calc(61.80339vw * .6180339)";
}
.r-phi3 {
  right: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.r-phi4 {
  right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.r-phi5 {
  right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.r-phi6 {
  right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.r-phi7 {
  right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.r-phi8 {
  right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.r-phi9 {
  right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.t-phi1 {
  top: 61.80339vw;
}
.t-phi2 {
  top: ~"calc(61.80339vw * .6180339)";
}
.t-phi3 {
  top: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.t-phi4 {
  top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.t-phi5 {
  top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.t-phi6 {
  top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.t-phi7 {
  top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.t-phi8 {
  top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.t-phi9 {
  top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.b-phi1 {
  bottom: 61.80339vw;
}
.b-phi2 {
  bottom: ~"calc(61.80339vw * .6180339)";
}
.b-phi3 {
  bottom: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.b-phi4 {
  bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.b-phi5 {
  bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.b-phi6 {
  bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.b-phi7 {
  bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.b-phi8 {
  bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.b-phi9 {
  bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.w-phi1 {
  width: 61.80339vw;
}
.w-phi2 {
  width: ~"calc(61.80339vw * .6180339)";
}
.w-phi3 {
  width: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.w-phi4 {
  width: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.w-phi5 {
  width: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.w-phi6 {
  width: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.w-phi7 {
  width: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.w-phi8 {
  width: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.w-phi9 {
  width: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.h-phi1 {
  height: 61.80339vw;
}
.h-phi2 {
  height: ~"calc(61.80339vw * .6180339)";
}
.h-phi3 {
  height: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.h-phi4 {
  height: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.h-phi5 {
  height: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.h-phi6 {
  height: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.h-phi7 {
  height: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.h-phi8 {
  height: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.h-phi9 {
  height: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.p-phi1 {
  padding: 61.80339vw;
}
.p-phi2 {
  padding: ~"calc(61.80339vw * .6180339)";
}
.p-phi3 {
  padding: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.p-phi4 {
  padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.p-phi5 {
  padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-phi6 {
  padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-phi7 {
  padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-phi8 {
  padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-phi9 {
  padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-phi9 {
  padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.p-l-phi1 {
  padding-left: 61.80339vw;
}
.p-l-phi2 {
  padding-left: ~"calc(61.80339vw * .6180339)";
}
.p-l-phi3 {
  padding-left: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.p-l-phi4 {
  padding-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.p-l-phi5 {
  padding-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-l-phi6 {
  padding-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-l-phi7 {
  padding-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-l-phi8 {
  padding-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-l-phi9 {
  padding-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.p-r-phi1 {
  padding-right: 61.80339vw;
}
.p-r-phi2 {
  padding-right: ~"calc(61.80339vw * .6180339)";
}
.p-r-phi3 {
  padding-right: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.p-r-phi4 {
  padding-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.p-r-phi5 {
  padding-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-r-phi6 {
  padding-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-r-phi7 {
  padding-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-r-phi8 {
  padding-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-r-phi9 {
  padding-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.p-t-phi1 {
  padding-top: 61.80339vw;
}
.p-t-phi2 {
  padding-top: ~"calc(61.80339vw * .6180339)";
}
.p-t-phi3 {
  padding-top: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.p-t-phi4 {
  padding-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.p-t-phi5 {
  padding-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-t-phi6 {
  padding-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-t-phi7 {
  padding-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-t-phi8 {
  padding-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-t-phi9 {
  padding-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.p-b-phi1 {
  padding-bottom: 61.80339vw;
}
.p-b-phi2 {
  padding-bottom: ~"calc(61.80339vw * .6180339)";
}
.p-b-phi3 {
  padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.p-b-phi4 {
  padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.p-b-phi5 {
  padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-b-phi6 {
  padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-b-phi7 {
  padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-b-phi8 {
  padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.p-b-phi9 {
  padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.m-phi1 {
  margin: 61.80339vw;
}
.m-phi2 {
  margin: ~"calc(61.80339vw * .6180339)";
}
.m-phi3 {
  margin: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.m-phi4 {
  margin: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.m-phi5 {
  margin: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-phi6 {
  margin: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-phi7 {
  margin: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-phi8 {
  margin: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-phi9 {
  margin: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}


.m-l-phi1 {
  margin-left: 61.80339vw;
}
.m-l-phi2 {
  margin-left: ~"calc(61.80339vw * .6180339)";
}
.m-l-phi3 {
  margin-left: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.m-l-phi4 {
  margin-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.m-l-phi5 {
  margin-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-l-phi6 {
  margin-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-l-phi7 {
  margin-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-l-phi8 {
  margin-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-l-phi9 {
  margin-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}


.m-r-phi1 {
  margin-right: 61.80339vw;
}
.m-r-phi2 {
  margin-right: ~"calc(61.80339vw * .6180339)";
}
.m-r-phi3 {
  margin-right: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.m-r-phi4 {
  margin-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.m-r-phi5 {
  margin-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-r-phi6 {
  margin-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-r-phi7 {
  margin-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-r-phi8 {
  margin-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-r-phi9 {
  margin-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.m-t-phi1 {
  margin-top: 61.80339vw;
}
.m-t-phi2 {
  margin-top: ~"calc(61.80339vw * .6180339)";
}
.m-t-phi3 {
  margin-top: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.m-t-phi4 {
  margin-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.m-t-phi5 {
  margin-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-t-phi6 {
  margin-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-t-phi7 {
  margin-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-t-phi8 {
  margin-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-t-phi9 {
  margin-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}

.m-b-phi1 {
  margin-bottom: 61.80339vw;
}
.m-b-phi2 {
  margin-bottom: ~"calc(61.80339vw * .6180339)";
}
.m-b-phi3 {
  margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339)";
}
.m-b-phi4 {
  margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
}
.m-b-phi5 {
  margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-b-phi6 {
  margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-b-phi7 {
  margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-b-phi8 {
  margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}
.m-b-phi9 {
  margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
}


@media (min-width: 960px) {

  .ms-l-phi1 {
    left: 61.80339vw;
  }
  .ms-l-phi2 {
    left: ~"calc(61.80339vw * .6180339)";
  }
  .ms-l-phi3 {
    left: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-l-phi4 {
    left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-l-phi5 {
    left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-l-phi6 {
    left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-l-phi7 {
    left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-l-phi8 {
    left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-l-phi9 {
    left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-r-phi1 {
    right: 61.80339vw;
  }
  .ms-r-phi2 {
    right: ~"calc(61.80339vw * .6180339)";
  }
  .ms-r-phi3 {
    right: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-r-phi4 {
    right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-r-phi5 {
    right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-r-phi6 {
    right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-r-phi7 {
    right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-r-phi8 {
    right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-r-phi9 {
    right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-t-phi1 {
    top: 61.80339vw;
  }
  .ms-t-phi2 {
    top: ~"calc(61.80339vw * .6180339)";
  }
  .ms-t-phi3 {
    top: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-t-phi4 {
    top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-t-phi5 {
    top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-t-phi6 {
    top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-t-phi7 {
    top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-t-phi8 {
    top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-t-phi9 {
    top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-b-phi1 {
    bottom: 61.80339vw;
  }
  .ms-b-phi2 {
    bottom: ~"calc(61.80339vw * .6180339)";
  }
  .ms-b-phi3 {
    bottom: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-b-phi4 {
    bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-b-phi5 {
    bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-b-phi6 {
    bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-b-phi7 {
    bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-b-phi8 {
    bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-b-phi9 {
    bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-w-phi1 {
    width: 61.80339vw;
  }
  .ms-w-phi2 {
    width: ~"calc(61.80339vw * .6180339)";
  }
  .ms-w-phi3 {
    width: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-w-phi4 {
    width: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-w-phi5 {
    width: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-w-phi6 {
    width: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-w-phi7 {
    width: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-w-phi8 {
    width: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-w-phi9 {
    width: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-h-phi1 {
    height: 61.80339vw;
  }
  .ms-h-phi2 {
    height: ~"calc(61.80339vw * .6180339)";
  }
  .ms-h-phi3 {
    height: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-h-phi4 {
    height: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-h-phi5 {
    height: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-h-phi6 {
    height: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-h-phi7 {
    height: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-h-phi8 {
    height: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-h-phi9 {
    height: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-p-phi1 {
    padding: 61.80339vw;
  }
  .ms-p-phi2 {
    padding: ~"calc(61.80339vw * .6180339)";
  }
  .ms-p-phi3 {
    padding: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-p-phi4 {
    padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-p-phi5 {
    padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-phi6 {
    padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-phi7 {
    padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-phi8 {
    padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-phi9 {
    padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-phi9 {
    padding: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-p-l-phi1 {
    padding-left: 61.80339vw;
  }
  .ms-p-l-phi2 {
    padding-left: ~"calc(61.80339vw * .6180339)";
  }
  .ms-p-l-phi3 {
    padding-left: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-p-l-phi4 {
    padding-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-p-l-phi5 {
    padding-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-l-phi6 {
    padding-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-l-phi7 {
    padding-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-l-phi8 {
    padding-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-l-phi9 {
    padding-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-p-r-phi1 {
    padding-right: 61.80339vw;
  }
  .ms-p-r-phi2 {
    padding-right: ~"calc(61.80339vw * .6180339)";
  }
  .ms-p-r-phi3 {
    padding-right: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-p-r-phi4 {
    padding-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-p-r-phi5 {
    padding-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-r-phi6 {
    padding-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-r-phi7 {
    padding-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-r-phi8 {
    padding-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-r-phi9 {
    padding-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-p-t-phi1 {
    padding-top: 61.80339vw;
  }
  .ms-p-t-phi2 {
    padding-top: ~"calc(61.80339vw * .6180339)";
  }
  .ms-p-t-phi3 {
    padding-top: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-p-t-phi4 {
    padding-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-p-t-phi5 {
    padding-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-t-phi6 {
    padding-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-t-phi7 {
    padding-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-t-phi8 {
    padding-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-t-phi9 {
    padding-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-p-b-phi1 {
    padding-bottom: 61.80339vw;
  }
  .ms-p-b-phi2 {
    padding-bottom: ~"calc(61.80339vw * .6180339)";
  }
  .ms-p-b-phi3 {
    padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-p-b-phi4 {
    padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-p-b-phi5 {
    padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-b-phi6 {
    padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-b-phi7 {
    padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-b-phi8 {
    padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-p-b-phi9 {
    padding-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-m-phi1 {
    margin: 61.80339vw;
  }
  .ms-m-phi2 {
    margin: ~"calc(61.80339vw * .6180339)";
  }
  .ms-m-phi3 {
    margin: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-m-phi4 {
    margin: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-m-phi5 {
    margin: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-phi6 {
    margin: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-phi7 {
    margin: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-phi8 {
    margin: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-phi9 {
    margin: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }


  .ms-m-l-phi1 {
    margin-left: 61.80339vw;
  }
  .ms-m-l-phi2 {
    margin-left: ~"calc(61.80339vw * .6180339)";
  }
  .ms-m-l-phi3 {
    margin-left: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-m-l-phi4 {
    margin-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-m-l-phi5 {
    margin-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-l-phi6 {
    margin-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-l-phi7 {
    margin-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-l-phi8 {
    margin-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-l-phi9 {
    margin-left: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }


  .ms-m-r-phi1 {
    margin-right: 61.80339vw;
  }
  .ms-m-r-phi2 {
    margin-right: ~"calc(61.80339vw * .6180339)";
  }
  .ms-m-r-phi3 {
    margin-right: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-m-r-phi4 {
    margin-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-m-r-phi5 {
    margin-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-r-phi6 {
    margin-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-r-phi7 {
    margin-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-r-phi8 {
    margin-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-r-phi9 {
    margin-right: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-m-t-phi1 {
    margin-top: 61.80339vw;
  }
  .ms-m-t-phi2 {
    margin-top: ~"calc(61.80339vw * .6180339)";
  }
  .ms-m-t-phi3 {
    margin-top: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-m-t-phi4 {
    margin-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-m-t-phi5 {
    margin-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-t-phi6 {
    margin-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-t-phi7 {
    margin-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-t-phi8 {
    margin-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-t-phi9 {
    margin-top: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }

  .ms-m-b-phi1 {
    margin-bottom: 61.80339vw;
  }
  .ms-m-b-phi2 {
    margin-bottom: ~"calc(61.80339vw * .6180339)";
  }
  .ms-m-b-phi3 {
    margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339)";
  }
  .ms-m-b-phi4 {
    margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 )";
  }
  .ms-m-b-phi5 {
    margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-b-phi6 {
    margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-b-phi7 {
    margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-b-phi8 {
    margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
  .ms-m-b-phi9 {
    margin-bottom: ~"calc(61.80339vw * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339 * .6180339)";
  }
}




